@font-face {
    font-family: 'Gruppo';
    src: url(./fonts/Gruppo-Regular.ttf);
}

@keyframes opacityAnimation {
    0% {
        opacity: 0 
    }
    50% {
        opacity: 0.5;
        display: block;
    }
    100% {
        opacity: 1
    }
}

@keyframes colourAnimation {
    0% { color: black; }
    100% { color: #ff124f}
}

@keyframes visibilityAnimationHidden {
    100% { visibility: hidden; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gruppo', sans-serif;
    background-color: #602080;
}

h1 {
    font-size: 6em;
    color: #ff00a0;
    background-color: transparent;
    animation: opacityAnimation 1s ease-in;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-image: url('/src/images/WIKIPEDIA15_BATTLESHIP.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    gap: 25em;

}

.board1, .board2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    width: 20vw;
    height: 20vw;
}

.cell {
    border: 1px solid black;
    width: 4em;
    height: 4em;
    color: transparent;
}

.cellTakenByPlayer {
    background-color: #ff124f;
}

.cell:hover {
    transition: 0.4s;
    background-color: #fe75fe;
}

button {
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-size: 2.5em;
    animation: opacityAnimation 1s ease-in;
}

button:hover {
    color: #ff124f;
    transition: 0.3s;
}

.deactivated {
    animation: visibilityAnimationHidden 2s ease-out;
    opacity: 0;
    display: none;
    transition: opacity 1.5s display 1.5s linear;
}

.activated {
    animation: opacityAnimation 3s ease-in;
}